@model BowlingScore.Models.BowlingModel
@{
    ViewBag.Title = "Index";
}

<h2>Score del Juego</h2>
<span>Juego Iniciado</span>

<fieldset>
<span>Turno: Jugador 1</span><br />
<span>Frame: @Model.Turno</span><br /><span>Oportunidad: @Model.Oportunidad</span>
<table id="tblScore" border="1" cellpadding="2" width="400">
<thead>
<tr>
<th>Jugador</th>
@for (int i = 1; i <= 10; i++)
{
    if (Model.Turno==i){
        @Html.Raw("<th bgcolor='red'>" + @i + "</th>");
    }
    else{
        @Html.Raw("<th>" + @i + "</th>");
    }

}
<th>score</th>
</tr>
</thead>
<tbody>
<tr>
<td>Jugador 1</td>
@for (int i = 1; i <= 10; i++)
{
    <td>@Model.Score[0, i]</td>}
<td>@Model.Score[0, 12]</td>
</tr>
<tr>
<td>Jugador 2</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
<tr>
<td>Jugador 3</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
<tr>
<td>Jugador 4</td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td> - </td>
<td>0</td>
</tr>
</tbody>
</table>
@using (Html.BeginForm("RegistraTiro", "Score"))
{
    <span>Pinos tirados: @Html.TextBox("txtPinos")</span>    
    <input type="submit" id="btnOk" value="Ok" />       
    
    @Html.ActionLink("Chuza", "RegistraChuza", "Score", null, new { @id = "btnChuza" });
}
</fieldset>